[project]
	description = ??????????????????????????????????????????????????/?????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/linzhpeng
[access "refs/for/refs/*"]
	read = group user/linzhpeng
	push = group user/linzhpeng
	label-Code-Review = -2..+2 group user/linzhpeng
	label-Verified = -1..+1 group user/linzhpeng
	rebase = group user/linzhpeng
	removeReviewer = group user/linzhpeng
	submit = group user/linzhpeng
[access "refs/heads/*"]
	read = group user/linzhpeng
	create = group user/linzhpeng
	push = +force group user/linzhpeng
	pushMerge = group user/linzhpeng
[access "refs/tags/*"]
	push = group user/linzhpeng
	push = +force group user/linzhpeng
